/* import är deprecated */
@use 'variables';

.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .stock-div{
    background-color: aquamarine;
    border: 2px solid black;
  }
.headers{
  color: orangered;
}