@use 'variables'as *;
body{
  background-color: $bg-color;
    padding: 0;
    margin: 0;
}
h1,h2,h4{
  font-family: $font-fam;
  font-weight: $header;
  color: $textcolor;
}
p,a,li,label{
font-family: $font-fam;
font-weight: $regular;
color: $textcolor;
}

input{
  margin-top: 20px;
}
select{
  font-family: $font-fam;
  font-weight: $regular;
  color: #1a1a1a;
}
/* Desktop styling */
display-none{
  display: none;
}
nav{
  display: flex;
  flex-direction: column;
}
div{
  text-align: center;
}
video{
 margin: auto;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
 width: auto;
 height: auto;
}
nav{
  margin: auto;
}
input{
  margin-bottom: 10px;
}
@mixin button {
  margin: 10px;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $font-fam;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  width: 25%;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* Styling Desktop */


.blink_me {
  animation: blinker 1s linear infinite;
  color: $textcolor;
  font-size: xxx-large;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Search stock */

.search-box{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  #name{
    padding: 10px 15px;
    width: 50%;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373D41;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #C5C5C7;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    flex-grow: 1;
  }


  .button-search{
   @include button() 
  }
  
  .button-search:hover,
  .button-search:focus {
    opacity: .75;
    background-color: #4b4c4e;
  }
  /* Search form */
  
  .search-submit{
      background-color:#1a1a1a;
      color: #ffffff;
      font-weight: 700;
      text-decoration: none;
      white-space: normal;
      -webkit-transition: none;
      transition: none;
      cursor: pointer;
      outline: 0;
      padding: 14px 24px 13px;
      font-size: 1rem;
      line-height: 1.25rem;
      border-radius: 6px;
      border-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .search-form .input-group{
    text-align:center;
  }

}
/* Search stock end */

/* News section start------------------ */
.news-section{
.news-form{
  padding-bottom: 20px;

  .news-pick{
    width: 30%;
    font-size: x-large;
  }
}
.user-news{
display: flex;
flex-direction: row;
overflow-x: scroll;
gap: 12px;
scroll-snap-type: x mandatory;
scroll-padding: 24px;

  .article-div{
    flex: 0 0 50%;
    border: solid $textcolor 2px;
    padding: 20px;
    margin-bottom: 20px;
    scroll-snap-align: start;
        .news-img{
      margin-top: 20px;
      width: 300px;
      height: 250px;
    }
    .news-para{

     color: $textcolor;
     font-weight:$regular;
    }
    .news-title{
      letter-spacing: 1px;
      color: $textcolor;
      font-weight: $header;
    }
    .news-sum-header{
    color: $textcolor;
    font-weight: bold;
    }
    .news-sum{
      color: $textcolor;
      font-weight: 100;
      letter-spacing: 1px;
    }
    }
}
}
/* News section end------------------- */
.main-content{
margin: 20px;
  text-align: center;
  color: $textcolor;

    .ticker-box{
    padding: 20px;
    margin-bottom: 10px;
    background-color: $hover-color;
    }
    .ticker-info{
      border: 2px solid white;
      padding: 20px;
    }
}
.show-ticker-box{
    display: block;
    background-color: #222;
    border: #979797 solid 2px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 500px;
    margin: auto;
}
.section-main{
  display: flex;
  flex-direction: column;
}
footer{
  margin: auto;
  color: $textcolor;
  .footer-header{
  text-align: center;
  }
}
  .stock-div{
    color: black;
    background-color: $textcolor;
    border: 2px solid black;
  }
.headers{
  color: black;
}
video {
  object-fit: fill;
}
#myBtn {
  @include button() 
}

#myBtn:hover {
  background-color: $hover-color;
}
.back-to-top{
  display: flex;
  margin: 40px;
  justify-content: center;
    .top {
    @include button()
    }
    .top:hover{
      background-color: #4b4c4e;
    }
  }
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}
/* ------------------------------------------------------------------- */
/* Media Query for Phone */
/* ------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  div{
    text-align: center;
  }
  video{
    width: 100%;
    height: auto;
  }
/* Search form */
  .search-submit{
      @include button()
  }
  .search-form .input-group{
    text-align:center;
  }
  /* Search form end */
  .news-img{
    width: 100%;
  }
  .article-div{
    padding: 20px;
    margin-top: 10%;
    border: solid 2px red;
  }
  .section-main{
    display: flex;
    flex-direction: column;
  }
  nav{
    margin: auto;
  }
  .main-content{
    width: 100%;
    margin: auto;
    text-align: center;
    color: $textcolor;
    .cl-div{
      background-color: #4b4c4e;
    }
  }
  .hidden{
    display: none;
  }
  .stock-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $textcolor;
        #headers{
         background-color: #222;
         color: aliceblue;
        }
        #headers:hover{
          background-color: #979797;
        }

  }
  .news-section{
    .news-form{
      .news-pick{
        width: 50%;
        font-size: larger;
      }
    }
    .user-news{
      display: flex;
      flex-direction: column;
      align-items: center;
     gap: 10px;
    }
  }
  .search-box{
    display: flex;
    margin: auto;
    #name{
      text-align: center;
      padding: 10px 15px;
      width: 80%;
      font-size: 1rem;
      line-height: 1.5em;
      color: #373D41;
      background-color: #FFF;
      background-clip: padding-box;
      border: 1px solid #C5C5C7;
      border-radius: 6px;
      -webkit-box-shadow: none;
      box-shadow: none;
      flex-grow: 1;
    }
    .button-search{
      border-radius: 10px;
       width: 200px;
    }
  }
.show-ticker-box{
  display: block;
  background-color: #222;
  border: #979797 solid 2px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.cl-div{
  padding: 30px;
}
.back-to-top{
    display: flex;
    margin: 40px;
    justify-content: center;
      .top {
        @include button() 
      }
      .top:hover{
        background-color: $hover-color;
      }
    }

}