/* import är deprecated */
@use 'variables';
body{
  background-color: darkblue;
}
.blink_me {
    animation: blinker 1s linear infinite;
    color: white;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .stock-div{
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
  }
.headers{
  color: black;
}
video {
  object-fit: fill;
}
@media only screen and (max-width: 600px) {
  div{
    text-align: center;
  }
  video{
    width: 100%;
    height: auto;
  }
  li{
    color: aliceblue;
    margin-bottom: 5px;
  }
  .section-main{
    display: flex;
    flex-direction: column;
  }
  nav{
    margin: auto;
  }
  .main-content{
    margin: auto;
    text-align: center;
    color: aliceblue;
  }
  input{
    margin-bottom: 10px;
  }

  .search-box{
    margin: auto;
  }

  footer{
    margin: auto;
    color: aliceblue;
  }
}